:root{
  --primary-color: #526f1f;
  --secondary-color: #0B281C;
  --primary-text-color: white;
  --secondary-text-color: #cae6cc;
  --blue-i-enjoy: rgba(155, 221, 240, 1);
  --pixel-size: 2;
  --frame-amt: 16;
  --sheet-width: 2624px;
  
}

body{
  background-color: var(--secondary-color);
  color: var(--primary-text-color);

}
.app{
 display: grid;
 grid-template-columns: 3fr 1fr;
 width: 100vw;
 background: #0B281C;
/*background: linear-gradient(0deg,rgba(11, 40, 28, 1) 0%, rgba(82, 111, 31, 1) 83%);
 */
 background-image: radial-gradient(circle farthest-corner at top left, var(--secondary-color) 0%, rgba(225, 243, 97, 0) 50%),
        radial-gradient(circle farthest-corner at bottom right, var(--secondary-color) 0%, rgba(204, 104, 119, 0) 33%),
    radial-gradient(circle farthest-corner at top right, var(--primary-color) 0%, rgba(155, 221, 240, 0) 50%),
    radial-gradient(ellipse at bottom center, rgba(225, 243, 97, 1) 0%, rgba(254, 43, 0, 0) 80%);
}
.left-section{
  display: flex;
  flex-direction: column;
  padding: 1%;
  
}
.taskbar-container{
  
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-input{
  height: 85%;
  width: 100%;
  border-radius: .5rem;
  background-color: var(--secondary-color);
  color: var(--primary-text-color);
  border-color: transparent;

}

.list-section{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr ;
   column-gap: 0.5rem;
 min-height: 100vh;
 }

.p-container{
 
  display: flex;
  flex-direction: column;
 align-items: center;
  height: 90%;
   
  }

  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }


  .task{
    border-radius: 1rem;
    border: 1px solid transparent;
    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3 rem rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    border-top-color: rgba(255, 255, 255, 0.5);
    border-left-color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.1);
    border-right-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
    width: 100%;
    padding: 3px;

  }

  .pomodoro{
    display: flex;
    flex-direction: column;
    align-items: center;
      border-radius: 1rem;
    border: 1px solid transparent;
    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3 rem rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.3));
    border-top-color: rgba(255, 255, 255, 0.5);
    border-left-color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.1);
    border-right-color: rgba(255, 255, 255, 0.1);
  }

.category-tag{
   width: fit-content;
  height: auto;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 1rem;
}

.frog{
  width: calc(128px * var(--pixel-size));
  height: calc(128px * var(--pixel-size));
  
  overflow: hidden;
 
}
.pixelart{
  image-rendering: pixelated;;
}

.spriteSheet{
  animation: moveSpriteSheet 2s steps(var(--frame-amt)) infinite ;
width: calc(var(--sheet-width) * var(--pixel-size));
}
@keyframes moveSpriteSheet{
  from{
    transform: translate3d(0px, 0, 0);
  }
  to{
    transform: translate3d(-100%, 0,0);
  }
}
